/*  NOTA    TODO LO QUE ESTA COLOCADO Y EMPIEZEN POR PUNTO, SON LOS NOMBRES 
DE LOS CONTENEDORES DE HTML  */


 /* *{
    border: 2px solid red;
} */



/* Estilos para la lista horizontal */
.nav-container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la sección fija esté delante de otros elementos */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #db2626; /* Añade un fondo para resaltar el contenedor */
    /* background: url(); aqui pongo una imagen de fondo */ 
    padding: 10px; /* Agrega un espacio alrededor del contenido del contenedor */
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 10px;
}
#body {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

/* Esto es de la lista superior derecha de la pagina */
.nav-item {
    list-style: none;
    display: flex;
    
}
.list-item {
    text-decoration: black;
    margin-right: 25px; /* Espaciado entre elementos de la lista */
    font-size: 20px;
    padding: 10px;
    
    background-color: wheat;
    border: none;
    border-radius: 400px 100px 10px 400px;
    
}

/* Este es el contenedor de la informacion */
.Presentacion-div{
    position:relative;
    top: 100px;
    width: 300px; /* Ajusta el ancho del div según sea necesario */
    height: 150px;
    background-color: #f0f0f0;
    /* padding: 0px 40px 250px 0px; */

    padding: 50px 80px 250px 10px;
    margin: 60px 50px 160px 20px;
}
/* Este es el icono donde esta mi nombre "Emma"  */
.name2 {
    font-size: 1.5em; /* Tamaño de fuente ajustado */
    margin-left: 70px; /* Ajusta el margen derecho para controlar la posición */
    padding: 5px 10px 5px 10px;
    background-color: aqua; 
}
/* Este Div es el de Hola, Sobre mi */
.Div-Iam{
    width: 150px; /* Ajusta el ancho del div según sea necesario */
    height: 25px; /* Ajusta la altura del div según sea necesario */
    border-radius: 100px 30px 200px 3px ; /* izquierda, derecha. arriba, derecha abajo, izquierda abajo */
    background-color: #3498db;
    padding: 15px;
    
}
.Boton-Top{
    border-color: transparent;
    padding: 5px 10px 5px 10px;
    background-color: #f0f0f0;
}

/* Esto es del nombre Completo */
.name-h1{
    position: relative;
    display: inline;    
    
    font-size: 25px;
    top: 10px;
    left: 20px;
}
/* Este es el que dice programador */
.vocation{
    font-size: 20px;
    position: relative;
    left: 20px;
}
/* Botones del contenedor */
.Boton-Email, .Boton-Telefono{
    position: relative;
    
    padding: 10px 10px 10px 10px;
    margin: 5px;
    left: 20px;
    cursor: pointer;
    border: transparent;
}
/* Iconos de la lista de contacto */
.Lista-Iconos{
    display: flex;
    
    position: relative;
    
}
.Iconos-Div1:hover{
    cursor: pointer;
    transform: scale(1.4); /* Ajusta el valor según sea necesario para el aumento deseado */
    transition: transform 0.3s ease; /* Agregamos una transición suave */
}
.Iconos-Div1{
    margin-right: 30px; /* Espaciado entre elementos de la lista */
    font-size: 20px;
    display: flex;
    cursor: pointer;    
    background-color: #db2626; /* Añade un fondo para resaltar el contenedor */
    /* background: url(); aqui pongo una imagen de fondo */ 
    padding: 10px; /* Agrega un espacio alrededor del contenido del contenedor */
    
    
    transition: transform 0.3s ease; /* Agregamos una transición suave */
}
/* Contenedor de imagen mia  */
.contenedor-imagen {
    position:absolute;
    display: inline;
    left: 600px;
    top: 150px;
    width: 300px;
    height: 250px;
    overflow: hidden;
}
/* Cortar la imagen */
.imagen-cortada {
    clip: rect(100px, 100px, 200px, 100px); /* Valores: top, right, bottom, left */
    width: 100%;
    height: 100%;
}


/* About Me Seccion */

.About-Me-Seccion{
    position: relative;
    top: 10px;
    padding: 130px 150px 0px 270px;
    
    background-color: #3498db;
}
.contenedor-imagen-aboutme{
    position:absolute;
    display: flex;
    left: 100px;
    top: 250px;
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.Imagen-About-Me{
    clip: rect(100px, 100px, 200px, 100px); /* Valores: top, right, bottom, left */
    width: 100%;
    height: 100%;
}
section {
    transition: background-color 0.5s; /* Transición para cambiar el color de fondo */
}

.About-Me{
    display:block;
    position:relative;
    top: 10px;
    left: 150px;
    margin: 50px;
    
}
.Tecnologias-AboutMe-Div{
    padding: 10px 100px 30px 10px;
    background-color: black;
    margin: 10px 150px 10px 10px;
    
}
.Tecnologias-AboutMe{
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: aliceblue;
    margin: 5px;
    border: none;
    border-radius: 10px;

}



/*  Aqui Empieza la seccion de Skills */



.Contenedor-Principal-Skills{
    
    background-color: #fe6767;
    
    padding-bottom: 0em;
    /* margin: 3em; */
    
}
.Texto-Arriba-Barras{
    position: relative;
    display: inline-flex;
    padding: 10px 10px 1px 300px;
    top: 10px;
    
    
}
.Contenedor-BarrasDeCarga{
    
    position: relative;
    display: inline-block;
    
    padding: 1% 2% 1% 10%;
    background-color: rgba(215, 196, 16, 0.869);
    margin: 2em 2em 2em 25em;
    top: -15em;
    
    
    
    border-radius: 10px;
    
    
}
.barra-de-carga {
    
    position: relative;
    display: inline-block;
    width: 400px;
    height: 15px;
    
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    
    
}
.porcentaje {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 18px;
}

.progreso {
    position: absolute;
    display: inline;
    
    height: 100%;
    background-color: #3498db; /* Color de la barra de carga */
    transition: width 0.3s ease-in-out;
}
/* 
    Este es el contenedor de los circulos de skill
 */
.Contenedor-Circulos-Skills{
    
    /* display: inline; */
    left: 2em;
    top: 10em;
    width: 17em;
    height: 300px;
    /* overflow: hidden; */
    background-color: aqua;

    display: flex;
    /* justify-content: space-between; */

    padding: 1em; /* Agrega un espacio alrededor del contenido del contenedor */
    /* margin: 10px 10px 10px 10px; */
    /* border: none; */
    border-radius: 10px;
    position: relative;
}

.progressbar-text{
    position: absolute;
    top: 50%;
    left: 50%; 
    padding: 0; 
    margin: 0; 
    transform: translate(-50%, -50%); 
    color: rgb(85, 85, 85); 
    font-size: 25px;
}

.pr-skill-name {
    position: relative;
    margin-right: 10px;
    
    margin-top: 5px; /* Espacio adicional ajustado para la legibilidad */
    left: 45px;
    
}
.Circulo1,.Circulo2,.Circulo3,.Circulo4{
    position: relative;
    width: 80px;
    height: 80px;
    padding: 20px;
    left: 20px;
    
}
 

#nav-Circulos{
    display: flex;
    justify-content: space-between;

    padding: 10px; /* Agrega un espacio alrededor del contenido del contenedor */
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 10px;
    position: relative;
}

    

.Lista-Skills {
    margin: 5px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    text-decoration: black;
    font-size: 20px;
    padding: 1px;
    background-color: wheat;
    border: none;
    list-style: none;
}

/* Aqui Empieza la seccion de portafolio */



.Contenedor-Principal-Portfolio{
    position: relative;
    display: inline-block;    
    
    
}

.Contenedor-Portafolio {
    position: relative;
    display: inline-block;
    top: 0%;
    bottom: 1em;
    size: 100%;
    background-color: #3498db;
    top: 100%;
    width: 100%; /* Ajusta el ancho del div según sea necesario */
    height: 100%;

}
.Nombre-portafolio{
    position: default;
    text-align: center;
    
}

.Div-Imagenes-Superior1 {
    

    display: flex; /* Utiliza un contenedor flexible para que las imágenes estén en línea */
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    align-items: center; /* Centra verticalmente las imágenes si tienen diferentes alturas */

    margin: 2em;
    
    
    
    
}
.Imagen-portafolio1{
    right: 1em;
    position:relative;
    
    
    width: 19%; /* Ajusta el ancho de las imágenes */
    
    margin: 0; /* Elimina el margen por defecto */
    border-radius: 20%;   
    cursor: pointer; 
    transition: transform 0.3s ease; /* Agregamos una transición suave */
    
    
}
.Imagen-portafolio1:hover ,.Imagen-portafolio2:hover,.Imagen-portafolio3:hover, .Imagen-portafolio4:hover{
    cursor: pointer;
    transform: scale(1.1); /* Ajusta el valor según sea necesario para el aumento deseado */
    
}
.Imagen-portafolio2{
    position:relative;
    
    right: 26%;
    
    
    width: 12%; /* Ajusta el ancho de las imágenes */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin: 0; /* Elimina el margen por defecto */
    cursor: pointer; 
    

}
.Div-Imagenes-Superior2{
     
    position: relative;
    display: inline-block;
    left: 1em;
    top: 1em;
    
    
    /* border: none; */
    border-radius: 1em;
    
}
.Imagen-portafolio3{
    position:relative;
    display: inline-block;
    
    left: 2em;
    right: 10em;
    
    
    width: 10%; /* Ajusta el ancho de las imágenes */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin: 0; /* Elimina el margen por defecto */
    cursor: pointer; 
    transition: transform 0.3s ease; /* Agregamos una transición suave */

}
.Imagen-portafolio4{
    display: inline-block;
    position:relative;
    left: 30%;
    bottom: 15em;
    width: 35%; /* Ajusta el ancho de las imágenes */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin: 0; /* Elimina el margen por defecto */
    cursor: pointer; 
    transition: transform 0.9s ease; /* Agregamos una transición suave */
    

}





/* Esta funcion esta dada por chatgpt*/

.ventana-emergente {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background-color: aqua;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    transition: opacity 1s;
    border-radius: 10px;
    
    flex-direction: column;
    
    
}

.ventana-emergente2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background-color: aqua;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    transition: opacity 1s;
    border-radius: 10px;
    
    flex-direction: column;
    
    
}
.ventana-emergente3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background-color: aqua;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    transition: opacity 1s;
    border-radius: 10px;
    
    flex-direction: column;
    
    
    
}
.ventana-emergente4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-color: aqua;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    transition: opacity 1s;
    border-radius: 10px;
    
    flex-direction: column;
    
    
}
.p-1{
    margin: -2em 0em 2em 0em;
    padding: 1em;
    position: relative;
    
    left: 3em;
    
    color: white;
    width: 20%;    
    
    background-color: #043464;
    
    display: flex;
    
    flex-direction: column;
    
}
.Mi-MejorProyecto{
    background-color: #fe6767;
    display: inline;
    position: relative;
    display: inline;
    align-items: center;
    justify-content: center;
    
    
    transition: opacity 1s;
    
    
    flex-direction: column;

    width: auto;

    max-width: 100%;
    
    
}


.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
}


.Imagen-portafolio1:hover .ventana-emergente,.Imagen-portafolio2:hover .ventana-emergente2,.Imagen-portafolio3:hover .ventana-emergente3 ,.Imagen-portafolio4:hover .ventana-emergente4 {
    
    display: flex;
    opacity: 0.7; /* Hacer visible */
    
    transition: color 0.3s; /* Transición para suavizar el cambio de color */
    
}
.Imagen-portafolio1.show .ventana-emergente,.Imagen-portafolio2.show .ventana-emergente2,.Imagen-portafolio3.show .ventana-emergente3 ,.Imagen-portafolio4.show .ventana-emergente4 {
    opacity: 0.8;
    transition-delay: 0s; /* Elimina el retraso después de la primera vez */
}

.mensaje-animado {
    opacity: 0; /* Inicialmente invisible */
    /* animation: aparecer 1s ease-in-out infinite alternate; Animación para hacer aparecer y desaparecer el mensaje */
}
.titulo, .sub-titulo {
    margin: 0em;
    padding: 2em;
    font-size: 20px;
    
    
}

.sub-titulo {
    font-style: italic;
    margin: 1em;
    background-color: #fe6767;
    opacity: 2;
    border-radius: 400em 100em 10px 400em;
}

/* Pop Ups Proyectos */
.ventana-emergente-Encriptador {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.contenido-ventana-Encriptador {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}


.ventana-emergente-Conversor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.contenido-ventana-Conversor {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}


.ventana-emergente-AppleBank {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.contenido-ventana-AppleBank {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.ventana-emergente-Hotel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.contenido-ventana-Hotel {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Esta seccion es la parte de experiencia */

.contenedor-experiencia{
    position: relative;
    display: inline-block;
    top: 0%;
    bottom: 1em;
    size: 100%;
    background-color: #1c1919;
    top: 100%;
    width: 100%; /* Ajusta el ancho del div según sea necesario */
    height: 100%;
    font-family: "Open Sans", sans-serif;

}


.separador-contenedor{
    color: white;
    position: relative;
    display: flex;
}

.educacion{
    position: relative;
    display: inline-block;
    left: 10%;
    margin: 2em;
    padding: 2em;
}

.work-experience{
    position: relative;
    display: inline-block;
    margin: 2em;
    left: 25%;
    padding: 2em;
}

.contenedor-edu-1{
    position: relative;
    display: inline-block;
    font-size: medium;
    
    margin: 1em 0em 1em 0em;
    padding: 1em;
    
    background-color: #343A41;
    border-radius: 10px;
    width: 300px; /* Ancho fijo de los contenedores */

}

.contenedor-we-1{
    position: relative;
    display: inline-block;
    font-size: medium;
    margin: 1em 0em 1em 0em;

    
    margin: 1em 0em 1em 0em;
    padding: 1em;
    background-color: #343A41;
    border-radius: 10px;
    width: 300px; /* Ancho fijo de los contenedores */


}

.años-edu{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Esta seccion es de Responsive wen */

@media (max-width: 600px) {
    nav {
        font-size: 0.8em;
    }
    body {
        font-size: 14px;
    }
    section {
        padding: 5px;
    }
}

/* Estilos para pantallas medianas (601px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }

    section {
        padding: 10px;
    }
    #nav-container{
        padding: 10px;
    }
}

/* Estilos para pantallas grandes (min-width: 1025px) */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 30px;
    }
}